<div class="inbox-container">
  <div class="inbox">
    <div class="msg msg-department anim-y">
      MARKETING
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 492 492">
        <path
          d="M484.13 124.99l-16.11-16.23a26.72 26.72 0 00-19.04-7.86c-7.2 0-13.96 2.79-19.03 7.86L246.1 292.6 62.06 108.55c-5.07-5.06-11.82-7.85-19.03-7.85s-13.97 2.79-19.04 7.85L7.87 124.68a26.94 26.94 0 000 38.06l219.14 219.93c5.06 5.06 11.81 8.63 19.08 8.63h.09c7.2 0 13.96-3.57 19.02-8.63l218.93-219.33A27.18 27.18 0 00492 144.1c0-7.2-2.8-14.06-7.87-19.12z">
        </path>
      </svg>
    </div>

    <div class="inbox-content custom-scroll">
      <div *ngFor="let task of tasks | filterTasks: search_term " class="msg anim-y" [ngClass]="{'activated' : task.selected == true }"
        (click)="openTask(task)" >
        <input type="checkbox" name="msg" id="{{ task.fakeId }}" class="mail-choice" [(ngModel)]="task.isCompleted"
          [attr.checked]=" task.isCompleted == true ? 'checked' : null " (change)='resolveTask(task._id)'>
        <label for="{{ task.fakeId }}"></label>
        <div class="msg-content">
          <div class="msg-title"> {{ task.title }}</div>
          <div class="msg-date"> {{ task.date_created | date }} </div>
        </div>
        <img src="../../assets/images/profile-images/f16.jpg" alt="" class="members mail-members">
      </div>
    </div>

    <div class="add-task">
      <button class="add-button" (click)="showForm()">Create New task</button>
    </div>
  </div>









  <!-- ======================================================================================= -->