<div class="form-container front">
    <div class="form-pane">
        <form class="access-form" action="/users/login" method="post" (submit)="formSubmit()" autocomplete="off">
            <div *ngIf="formError" class="form-error">
                {{ formError }}
            </div>
            <h1>LOGIN</h1>
            <input type="email" name="email" placeholder="Email" [(ngModel)]="credentials.email">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password">

            <div>
                <span>
                    <input type="checkbox">
                    <span>Remember me</span>
                </span>
                <a class="forgot">Forgot password?</a>
            </div>
            <input type="submit" value="Login">

            <div class="connect">
                <hr>
                <p>Connect with us</p>
                <hr>
            </div>
    
            <ul>
                <li>
                    <a href="https://twitter.com/fiineboy_"><i class="fab fa-facebook-f fa-2x"></i></a></li>
                <li>
                    <a href="https://twitter.com/fiineboy_"><i class="fab fa-twitter fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://github.com/fineboyy"><i class="fab fa-github fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/fiineboy_"><i class="fab fa-linkedin-in fa-2x"></i></a>
                </li>
            </ul>


            <span class="copyright">&copy; 2020: All Rights Reserved</span>  
        </form>

    </div>

    <div class="right-pane">
        <i class="far fa-check-circle profile-icon"></i>
        <h1>TASK MANAGER</h1>
        <p>Quote of the Day:</p>
        <p><i>"If you want to go fast, go alone. If you want to go far, go together."</i></p>
        <a (click)="toggleRegister()">Register</a>
    </div>
</div>