.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;


    width: 100%;
    height: 100%;
}

.central h5 {
    margin-top: -55px;
    margin-bottom: 5px;

    color: var(--title-color);
    font-size: 21px;
    font-weight: normal;
}

.add-icon {
    border-radius: 50%;
    background-color: #EAEEFC;
    cursor: pointer;
    
}

.add-icon i {
    padding: 10px;
    font-size: 20px;
    color: var(--button-color);
}
.add-task {
    background-color: var(--unselected-mail);
}



/* ===================================== */
.mail-detail {
    max-height: 100%;
    height: 100%;
  }
  
  .department-tags {
    margin-top: 5px;
  }
  
  .task-tag {
    margin-left: 3px;
    border-radius: 3px;
    padding: 3px 5px;
  }
  .marketing { background-color: rgb(255, 191, 255); }
  .designn { background-color: rgb(183, 128, 247); color: white;}
  .management { background-color: rgb(255, 117, 117); color: white;}
  .development { background-color: rgb(255, 213, 97); }
  
  
  .editable {
    background-color: #EAEEFC;
    padding: 5px 5px 1px 5px;
    margin-left: 0;
    border-radius: 5px;
  
    cursor: text;
  }
  
  .editable:nth-of-type(2) {
    margin-top: 70px;
    padding-top: 5px;
    padding-bottom: 150px;
  
  }
  
  .mail-inside {
    overflow-wrap: anywhere;
  }
  
  
  
  
  
  
  
  .editable:empty::before{
    content:attr(data-text)
  }
  