.container-wrapper {
    height: 100vh;
    
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.container-wrapper * { 
    border-radius: 15px;
}